POSTGRES_DB=eupublicode
POSTGRES_USER=eupublicode
POSTGRES_PASSWORD=eupublicode
DATABASE_URL=postgresql+psycopg://eupublicode:eupublicode@db:5432/eupublicode
GITHUB_TOKEN=
SOURCE_CATALOG_URL=https://raw.githubusercontent.com/publiccodeyml/publiccode.yml/main/example/publiccode.yml
INGEST_INTERVAL_SECONDS=86400
